<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring.Mapper.erp.ErpAttachmentMapper">

    <insert id="insert" parameterType="java.util.List">
        INSERT INTO SPRING_ATTACHMENT
        (
            PNO
            , FILE_NAME
            , FILE_ORIGIN_NAME
            , FILE_SIZE
            , FILE_PATH
        )
        VALUES
        <foreach item="item" index="index" collection="attachmentDtoList" separator=",">
            (
                ${item.pno}
                , #{item.fileName}
                , #{item.originFileName}
                , ${item.fileSize}
                , #{item.filePath}
            )
        </foreach>
    </insert>

</mapper>