<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring.Mapper.erp.ErpAttachmentMapper">

    <sql id="select">
        SELECT ANO
             , PNO
             , FILE_NAME
             , FILE_ORIGIN_NAME
             , STORAGE_NAME
             , FILE_SIZE
             , REG_DATE
             , UPDT_DATE
        FROM SPRING_ATTACHMENT
        WHERE DELETE_FLAG = 'N'
    </sql>

    <select id="selectListByPost" resultType="com.example.spring.Dto.AttachmentDto" parameterType="int">
        <include refid="select"/>
        AND PNO = #{pno}
    </select>

    <select id="select" resultType="com.example.spring.Dto.AttachmentDto" parameterType="int">
        <include refid="select"/>
        AND ANO = #{ano}
    </select>


    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO SPRING_ATTACHMENT (
        PNO
        , FILE_NAME
        , FILE_ORIGIN_NAME
        , STORAGE_NAME
        , FILE_SIZE
        )
        VALUES
        <foreach collection="attachmentDtoList" item="item" separator=",">
            (
            #{item.pno}
            , #{item.fileName}
            , #{item.fileOriginName}
            , #{item.storageName}
            , #{item.fileSize}
            )
        </foreach>
    </insert>

    <delete id="deleteList">
        UPDATE SPRING_ATTACHMENT
        SET DELETE_FLAG = 'Y'
        , UPDT_DATE = GETDATE()
        WHERE FILE_NAME IN
        <foreach collection="deleteFileList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

</mapper>