<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring.Mapper.erp.ErpCommentMapper">

    <resultMap id="commentResultMap" type="com.example.spring.Dto.CommentDto">
        <result property="cno" column="cno"></result>
        <result property="pno" column="pno"></result>
        <result property="parent_cno" column="parent_cno"></result>
        <result property="receiver" column="receiver"></result>
        <result property="writer" column="writer"></result>
        <result property="password" column="password"></result>
        <result property="reg_date" column="reg_date"></result>
        <result property="updt_date" column="updt_date"></result>
        <result property="delete_flag" column="delete_flag"></result>
        <collection property="replyCommentList" column="cno" select="selectReplyCommentList" javaType="java.util.List"
                    ofType="com.example.spring.Dto.CommentDto"></collection>
    </resultMap>

    <sql id="select">
        SELECT
            CNO
             , PNO
             , PARENT_CNO
             , RECEIVER
             , CONTENT
             , WRITER
             , PASSWORD
             , REG_DATE
             , UPDT_DATE
             , DELETE_FLAG
        FROM SPRING_COMMENT
    </sql>

    <select id="selectListByPost" resultMap="commentResultMap" parameterType="int">
        <include refid="select"/>
        WHERE CNO IN (
            SELECT
                CNO
            FROM SPRING_COMMENT
            WHERE DELETE_FLAG = 'N' AND PARENT_CNO = 0

            UNION ALL

            SELECT
            DISTINCT
                A.CNO
            FROM SPRING_COMMENT A
            INNER JOIN SPRING_COMMENT B ON B.PARENT_CNO = A.CNO AND A.PARENT_CNO = 0
            WHERE A.DELETE_FLAG = 'Y'AND B.DELETE_FLAG = 'N'
        )
        AND PNO = #{pno}
    </select>

    <select id="select" resultType="com.example.spring.Dto.CommentDto" parameterType="int">
        <include refid="select"/>
        WHERE DELETE_FLAG = 'N' AND CNO = #{cno}
    </select>

    <select id="selectReplyCommentList" resultType="com.example.spring.Dto.CommentDto">
        <include refid="select"/>
        WHERE DELETE_FLAG = 'N' AND PARENT_CNO = #{cno}
    </select>

    <insert id="insert" parameterType="com.example.spring.Dto.CommentDto">
        INSERT INTO SPRING_COMMENT ( PNO
                                   , PARENT_CNO
                                   , RECEIVER
                                   , CONTENT
                                   , WRITER
                                   , PASSWORD)
        VALUES ( #{pno}
               , #{parent_cno}
               , #{receiver}
               , #{content}
               , #{writer}
               , #{password})
    </insert>

    <delete id="delete">
        UPDATE SPRING_COMMENT
        SET DELETE_FLAG = 'Y'
            , UPDT_DATE = GETDATE()
        WHERE CNO = #{cno}
    </delete>

    <delete id="deleteListByPost">
        UPDATE SPRING_COMMENT
        SET DELETE_FLAG = 'Y'
          , UPDT_DATE = GETDATE()
        WHERE PNO = #{pno}
    </delete>

</mapper>