<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring.Mapper.erp.ErpPostMapper">

    <sql id="select">
        SELECT
            BNO
            ,PNO
            ,TITLE
            ,CONTENT
            ,WRITER
            ,PASSWORD
            ,VIEW_CNT
            ,COMMENT_CNT
            , REG_DATE
            , UPDT_DATE
        FROM SPRING_POST
        WHERE DELETE_FLAG = 'N'
    </sql>

    <select id="selectOne" resultType="com.example.spring.Dto.PostDto" parameterType="Map">
        <include refid="select"/>
        AND BNO = #{bno} AND PNO = #{pno}
    </select>

    <select id="selectPage" resultType="com.example.spring.Dto.PostDto" parameterType="Map">
        SELECT
            BNO
             , PNO
             , TITLE
             , CONTENT
             , WRITER
             , PASSWORD
             , VIEW_CNT
             , COMMENT_CNT
             , REG_DATE
             , UPDT_DATE
        FROM
            (
                SELECT
                    ROW_NUMBER() OVER(ORDER BY PNO) AS ROW_NUMBER
                    , *
                FROM SPRING_POST
            ) A
        WHERE ROW_NUMBER BETWEEN #{offset} AND #{limit}
    </select>

    <select id="selectCount" parameterType="int" resultType="int">
        SELECT
            COUNT (*) AS COUNT
        FROM SPRING_POST
        WHERE BNO = #{bno}
    </select>

    <insert id="insert" parameterType="com.example.spring.Dto.PostDto">
        INSERT INTO SPRING_POST ( BNO
                                 , TITLE
                                 , CONTENT
                                 , WRITER
                                 , PASSWORD )
        VALUES ( #{bno}, #{title}, #{content}, #{writer}, #{password})
    </insert>

    <update id="update">
        UPDATE SPRING_POST
        SET
            TITLE = #{title},
            CONTENT = #{content},
            UPDT_DATE = GETDATE()
        WHERE PNO = #{pno} AND BNO = #{bno}
    </update>

    <delete id="delete">
        DELETE FROM SPRING_POST
        WHERE PNO = #{PNO} AND BNO = #{BNO}
    </delete>

</mapper>