<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring.Mapper.erp.ErpPostMapper">

    <sql id="select">
        SELECT
            BNO
            , PNO
            , TITLE
            , CONTENT
            , WRITER
            , PASSWORD
            , VIEW_CNT
            , COMMENT_CNT
            , REG_DATE
            , UPDT_DATE
            , SECRET_CHECK
            , COMMENT_CHECK
        FROM SPRING_POST
        WHERE DELETE_FLAG = 'N'
    </sql>

    <select id="selectOne" resultType="com.example.spring.Dto.PostDto" parameterType="Map">
        <include refid="select"/>
        AND BNO = #{bno} AND PNO = #{pno}
    </select>

    <select id="selectPage" statementType="CALLABLE" resultType="com.example.spring.Dto.PostDto" parameterType="Map">
        { call [dbo].[USP_SEARCH_POST_WITH_CONDITION_SPRING] (#{bno}, #{type}, #{keyword}, #{offset}, #{limit}) }
    </select>

    <update id="increaseViewCnt" parameterType="int">
        UPDATE SPRING_POST
        SET VIEW_CNT = VIEW_CNT + 1
        WHERE PNO = #{pno}
    </update>

    <update id="increaseCommentCnt" parameterType="int">
        UPDATE SPRING_POST
        SET COMMENT_CNT = COMMENT_CNT + 1
        WHERE PNO = #{pno}
    </update>

    <update id="decreaseCommentCount" parameterType="int">
        UPDATE SPRING_POST
        SET COMMENT_CNT = COMMENT_CNT - 1
        WHERE PNO = #{pno}
    </update>

    <select id="selectCount" parameterType="int" resultType="int">
        SELECT
            ISNULL(COUNT (*), 0) AS COUNT
        FROM SPRING_POST
        WHERE BNO = #{bno}
        AND DELETE_FLAG = 'N'
    </select>

    <insert id="insert" parameterType="com.example.spring.Dto.PostDto" useGeneratedKeys="true" keyProperty="pno">
        INSERT INTO SPRING_POST ( BNO
                                 , TITLE
                                 , CONTENT
                                 , WRITER
                                 , PASSWORD
                                 , SECRET_CHECK
                                 , COMMENT_CHECK
                                 )
        VALUES ( #{bno}, #{title}, #{content}, #{writer}, #{password}, #{secret_check}, #{comment_check})
    </insert>

    <update id="update">
        UPDATE SPRING_POST
        SET
            TITLE = #{title},
            CONTENT = #{content},
            SECRET_CHECK = #{secret_check},
            COMMENT_CHECK = #{comment_check},
            UPDT_DATE = GETDATE()
        WHERE PNO = #{pno} AND BNO = #{bno}
    </update>

    <delete id="delete">
        UPDATE SPRING_POST
        SET DELETE_FLAG = 'Y'
            , UPDT_DATE = GETDATE()
        WHERE PNO = #{pno} AND BNO = #{bno}
    </delete>

</mapper>