<html>

<head>
    <title>인탑스 구미사업장 게시판</title>
    <link rel="stylesheet" href="/css/board-style.css">
    <link rel="icon" href="/images/favicon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckeditor/config.js"></script>
    <link rel="stylesheet" href="../../static/css/board-style.css">
</head>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>

<body>
<div class="container">
    <header th:replace="~{/board/board-header :: board-header}"></header>
    <section th:replace="~{/board/board-header :: board-list}"></section>
    <section class="post">
        <article class="content-field">
            <a th:text="${postDto.title}"
               style="display: block; border-bottom:1px solid black; margin-bottom: 20px; padding: 10px;"/>
            <textarea rows=5 cols="50" class="content" id="content" th:utext="${postDto.content}"></textarea>
        </article>
        <article class="file-list">
            <div class="file-list-div" id="file-list-div">
                <div class="file-sub-list-div">
                    <ul class="file-list" id="file-list">
                        <li th:each="attachmentDto :  ${attachmentDtoList}" th:text="${attachmentDto.fileOriginName}"></li>
                    </ul>
                </div>
            </div>
        </article>
        <article class="btn-list">
            <button class="confirm-btn" th:onclick="|location.href='@{/board/list(bno=${postDto.bno})}'|">목록</button>
            <button class="confirm-btn"
                    th:onclick="|location.href='@{/board/certificate(bno=${postDto.bno}, pno=${postDto.pno}, mode='MODIFY')}'|">
                수정
            </button>
            <button class="confirm-btn"
                    th:onclick="|location.href='@{/board/certificate(bno=${postDto.bno}, pno=${postDto.pno}, mode='DELETE')}'|">
                삭제
            </button>
        </article>
        </form>
    </section>
    <section class="comment-list-section">
        <div class="comment-unit" th:each="commentDto : ${commentDtoList}">
            <p class="comment-list-writer" th:text="${commentDto.writer}">관리자</p>
            <p class="comment-list-content" th:cno="${commentDto.cno}"
               th:style="${commentDto.delete_flag} == 'Y' ? 'color: gray; font-weight: 500;' : ''"th:receiver="${commentDto.writer}" th:text="${commentDto.delete_flag == 'N'} ? ${commentDto.content} : '작성자가 삭제한 댓글입니다.'" th:onclick="${commentDto.delete_flag == 'N'} ? 'add_reply_form(this)' : ''"></p>
            <p th:if="${commentDto.delete_flag == 'N'}" class="remove-btn" th:pno="${commentDto.pno}"><i class="fa-solid fa-xmark" th:onclick="addCommentRemoveForm(this)" th:cno="${commentDto.cno}" ></i></p>
            <div class="reply-comment-unit" th:each="replyCommentDto : ${commentDto.replyCommentList}">
                <p class="comment-list-writer"><i class="fa-brands fa-replyd"></i>&nbsp;[[${replyCommentDto.writer}]]</p>
                <p class="comment-list-content" th:cno="${replyCommentDto.cno}" th:pno="${replyCommentDto.pno}" th:receiver="${commentDto.writer}" th:onclick="add_reply_form(this)" ><span class="to_user">[[${replyCommentDto.receiver}]]</span>[[${replyCommentDto.content}]]</p>
                <p class="remove-btn">
                    <i class="fa-solid fa-xmark" th:cno="${replyCommentDto.cno}" th:onclick="addCommentRemoveForm(this)"></i>
                </p>
            </div>
        </div>
    </section>
    <section class="comment-section">
        <form th:action="@{/board/write/comment.do}" th:method="post" th:id="form">
            <article class="comment-writer-area">
                <input type="text" class="comment-writer" placeholder="작성자" name="writer">
                <input type="text" class="comment-password" placeholder="비밀번호" name="password" >
            </article>
            <article class="comment-editor-area">
                <textarea class="comment-editor" name="content"></textarea>
                <input type="hidden" th:value="${postDto.pno}" name="pno">
                <button class="comment-reg-btn"><i class="fa-solid fa-comments" th:onclick="submit()"></i>&nbsp;등록
                </button>
            </article>
        </form>
    </section>
</div>
</body>

</html>

<script>

    CKEDITOR.replace('content', {
        toolbarGroups: [{
            name: 'document',
            groups: ['mode', 'document', 'doctools']
        }, ],
        height: '500px',
        resize_enabled: false,
        removePlugins: 'elementspath',
        readOnly: true,
    });

    function submit() {
        $('#form').submit();
    }

    function add_reply_form(current_element) {

        let comment_section = document.createElement('section');
        let pno = current_element.getAttribute("pno");
        let parent_cno = current_element.getAttribute("cno");

        let receiver = current_element.getAttribute("receiver");

        comment_section.setAttribute("class", "comment-section");

        let replyForm = document.createElement('form');

        // set attribute (form)
        replyForm.id = 'replyForm';
        replyForm.name = 'replyForm';
        replyForm.method = 'post';
        replyForm.action = '/board/write/comment.do';

        let writer_area = document.createElement('article');
        writer_area.setAttribute("class", "comment-writer-area");

        let comment_writer = document.createElement('input');

        comment_writer.setAttribute("type", "text");
        comment_writer.setAttribute("name", "writer");
        comment_writer.setAttribute("class", "comment-writer");
        comment_writer.setAttribute("placeholder", "작성자");

        let comment_password = document.createElement('input');

        comment_password.setAttribute("type", "text");
        comment_password.setAttribute("name", "password");
        comment_password.setAttribute("class", "comment-password");
        comment_password.setAttribute("placeholder", "비밀번호");

        writer_area.appendChild(comment_writer);
        writer_area.appendChild(comment_password);

        ///////////////////////////////////////////////////////

        let comment_cno = document.createElement('input');
        comment_cno.setAttribute("type", "hidden");
        comment_cno.setAttribute("name", "parent_cno");
        comment_cno.setAttribute("value", parent_cno);

        let comment_receiver = document.createElement('input');
        comment_receiver.setAttribute("type", "hidden");
        comment_receiver.setAttribute("name", "receiver");
        comment_receiver.setAttribute("value", receiver);

        let comment_pno = document.createElement('input');
        comment_pno.setAttribute("type", "hidden");
        comment_pno.setAttribute("name", "pno");
        comment_pno.setAttribute("value", pno);

        let editor_area = document.createElement('article');
        editor_area.setAttribute("class", "comment-editor-area");

        let comment_editor = document.createElement('textarea');
        comment_editor.setAttribute("class", "comment-editor");
        comment_editor.setAttribute("name", "content");


        let comment_reg_btn = document.createElement('button');
        comment_reg_btn.setAttribute("class", "comment-reg-btn");
        comment_reg_btn.innerHTML = `<i class="fa-solid fa-comments"></i>&nbsp;등록`;
        comment_reg_btn.click = function() {
            document.getElementById("replyForm").submit();
        };

        editor_area.appendChild(comment_editor);
        editor_area.appendChild(comment_reg_btn);
        editor_area.appendChild(comment_cno);
        editor_area.appendChild(comment_receiver);

        replyForm.appendChild(writer_area);
        replyForm.appendChild(editor_area);

        comment_section.setAttribute("name", "reply_comment_section");
        comment_section.appendChild(replyForm);

        closeAllModals();

        current_element.nextElementSibling.insertAdjacentElement('afterend', comment_section);

    }

    function reload() {
        location.reload();
    }

    /**
     삭제 폼 동적 생성
     1. 패스워드 입력란.
     2. 확인버튼
     3. 취소버튼
     **/

    /** 댓글 삭제 폼 동적 생성 함수 **/
    function addCommentRemoveForm(currentNode) {

        // form element 생성 및 초기화
        let commentRemoveForm = document.createElement('form');
        commentRemoveForm.method = 'post';
        commentRemoveForm.action = '/board/delete/comment';
        commentRemoveForm.className = 'comment-remove-form';
        commentRemoveForm.name = 'comment-remove-form';

        // input element 생성 및 초기화
        let passwordInput = document.createElement('input');
        passwordInput.name = "password";
        passwordInput.className = 'rectangular-input';
        passwordInput.setAttribute("type", "password");

        // 확인 버튼
        let submitButton = document.createElement('button');
        submitButton.innerHTML = '확인';
        submitButton.addEventListener('click', function(e) {

            e.preventDefault();

            if (isEmpty(passwordInput))
                alert("비밀번호를 입력해주세요");

            else  {

                let jsonData = new Object();

                // cno, password 정보

                jsonData.password = passwordInput.value;
                jsonData.cno = currentNode.getAttribute("cno");

                $.ajax ({
                    type : "POST",
                    url : "http://localhost/board/delete/comment.do",
                    contentType: "application/json; charset=UTF-8",
                    data : JSON.stringify(jsonData),
                    success: function(data) {
                        if(data.result == "success") {
                            alert("댓글이 삭제되었습니다.")
                            location.reload();
                        }
                        else {
                            alert("비밀번호가 일치하지 않습니다.");
                        }
                    },
                    error: function(error) {
                        alert("에러가 발생하였습니다.");
                    },
                })
            }})

        // 취소 버튼
        let cancelButton = document.createElement('button');
        cancelButton.innerHTML = '취소';
        cancelButton.addEventListener('click', function() {
            commentRemoveForm.remove();
        })

        closeAllModals();

        commentRemoveForm.appendChild(passwordInput);
        commentRemoveForm.appendChild(submitButton);
        commentRemoveForm.appendChild(cancelButton);

        currentNode.insertAdjacentElement('afterend', commentRemoveForm);

    }

    function isEmpty(currentElement) {
        return (currentElement.value == null);
    }

    function closeAllModals() {

        let array = document.getElementsByName("comment-remove-form");

        for (let i = 0; i < array.length; i++)
            array[i].remove();

        array = document.getElementsByName("reply_comment_section");

        for (let i = 0; i < array.length; i++)
            array[i].remove();

    }


</script>
