<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>설문조사 데이터</title>
    <link rel="stylesheet" href="/css/survey_org.css">
    <link rel="icon" href="/images/favicon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <meta http-equiv="Compatible" content="no-cache"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>

<style>
    .sans {
    !important; font-family: 'Noto Sans KR', sans-serif;
    }
</style>

<body>
<div class="container sans">
    <div class="side-bar">
        <div class="header-div">
            <h4>질문 리스트</h4>
        </div>
        <div th:id="question" class="question-div"></div>
        <div class="footer-div">
            <input type="button" value="복사" onclick="copy()">
            <input type="button" value="추가" onclick="addRow(QUESTION)">
        </div>
    </div>
    <div class="main">
        <div th:id="header" class="header-div">
            <input type="button" value="저장" onclick="save()">
            <input type="button" value="취소">
        </div>
        <div class="question-title">
            <input type="text" id="question-title" placeholder="질문 내용">
        </div>
        <div th:id="response" class="response-div"></div>
        <!--        <div th:id="trash-can" class="garbage-div" style="text-align:center;">-->
        <!--            <i class="fa-solid fa-trash-can fa-3x" style="color: #F38B3C;"></i>-->
        <!--        </div>-->
        <div th:id="footer" class="footer-div">
            <i class="fa-solid fa-circle-plus fa-2x" style="color: #F38B3C" onclick="addRow(RESPONSE)"></i>
        </div>
    </div>
</div>
</body>
</html>

<script th:inline="javascript">

    let survey = [[${survey}]];
    let currentQuestion = null;

</script>

<script>

    const QUESTION = 0;
    const RESPONSE = 1;

    function initialize() {
        let questionNumbering = 1;

        survey.questionList.forEach(question => {
            question.id = questionNumbering;
            questionNumbering = questionNumbering + 1;
            let responseNumbering = 1;
            question.responseList.forEach(response => {
                response.id = responseNumbering;
                responseNumbering = responseNumbering + 1;
            })
        });
    }

    /* let main = document.querySelector('.main');
     main.addEventListener('drop', function(e) {

         e.preventDefault();

         /!** 1. 드랍된 질의 항목의 id 값을 읽어온다. **!/
         const selectId = e.dataTransfer.getData('text');

         /!** survey.quesitonList 항목 중 selectedId와 일치하는 항목을 삭제하고 화면을 Refresh 한다. **!/
         survey.questionList = Array.from(survey.questionList)
             .filter(question => question.id != selectId);

         updateUI();

     });
     main.addEventListener('dragover', function(e) {
         e.preventDefault();
     });*/

    function copy() {
        let clone = Object.assign({}, survey.questionList[currentQuestion]);
        survey.questionList.push(clone);
        updateUI();
    }

    function updateUI() {

        initialize();

        // 질문 초기화
        let questionDiv = document.querySelector('#question');
        let responseDiv = document.querySelector('#response');
        removeAllChildNodes(questionDiv);
        removeAllChildNodes(responseDiv);

        // survey 자바스크립트 객체에 저장된 정보를 바탕으로 질문 리스트 재구성
        for (let i = 0; i < survey.questionList.length; i++) {

            // Create Question Item.
            let questionItem = document.createElement('div');

            // Checkbox
            /*
                        let checkboxInput = document.createElement('input');
                        checkboxInput.setAttribute('type', 'checkbox');
                        checkboxInput.setAttribute('name', 'questionCheckbox');
                        checkboxInput.setAttribute('id', survey.questionList[i].id);
            */

            // Button
            let button = document.createElement('button');
            button.innerHTML = '질문 ' + survey.questionList[i].id;
            button.setAttribute('class', 'question');
            button.setAttribute('draggable', true);
            button.setAttribute('id', survey.questionList[i].id);

            let removeIcon = document.createElement('i');
            removeIcon.setAttribute('class', 'fa-solid fa-circle-minus');
            removeIcon.setAttribute('id', survey.questionList[i].id);
            removeIcon.setAttribute('style', 'color: #F38B3C; margin-left: 10px;');
            removeIcon.addEventListener('click', function (event) {
                deleteRow(QUESTION, event);
            });

            button.addEventListener('dragstart', function (e) {
                e.dataTransfer.setData("text", e.target.getAttribute('id'));
            });

            // 질문 - 버튼 클릭 이벤트 추가
            button.addEventListener('click', function (event) {

                // 선택된 질문 번호 저장 - currentQuestion.
                currentQuestion = i;

                event.target.style.border = '3px solid #ffe600'
                document.querySelectorAll('.question').forEach((question, index) => {
                        if (index != currentQuestion) {
                            question.style.border = '1px solid #F38B3C';
                        }
                    }
                )

                // 질문 타이틀 초기화
                let questionTitleDiv = document.querySelector('.question-title');
                removeAllChildNodes(questionTitleDiv);
                let questionTitleInput = document.createElement('input');
                questionTitleInput.setAttribute('type', 'text');
                questionTitleInput.setAttribute('id', 'question-title');
                questionTitleInput.setAttribute('placeholder', '질문 내용');
                questionTitleInput.setAttribute('value', survey.questionList[i].title);

                questionTitleInput.addEventListener('change', function (event) {
                    survey.questionList[i].title = event.target.value;
                    updateUI();
                })

                questionTitleDiv.appendChild(questionTitleInput);

                /* --------------------- 선택된 질문에 해당 되는 응답 리스트 구성 --------------------- */

                // 응답 초기화
                removeAllChildNodes(responseDiv);

                // 응답 - input type 생성
                for (let j = 0; j < survey.questionList[i].responseList.length; j++) {

                    /**
                     * <div>
                     *  <input type="checkbox"></input>
                     *  <input type="text"></input>
                     *  <input type="text"></input>
                     * </div>
                     */

                    /** 체크박스, 텍스트 박스, 배점란 담는 DIV **/
                    let responseItem = document.createElement('div');
                    /*                    let checkboxInput = document.createElement('input');
                                        checkboxInput.setAttribute('type', 'checkbox');
                                        checkboxInput.setAttribute('name', 'responseCheckbox');
                                        checkboxInput.setAttribute('id', survey.questionList[i].responseList[j].id);*/

                    let number = document.createElement('a');
                    number.innerHTML = j + 1;
                    number.setAttribute('class', 'number');

                    let textInput = document.createElement('input');
                    textInput.setAttribute('type', 'text');
                    textInput.setAttribute('class', 'title text-input');
                    textInput.setAttribute('placeholder', '내용');
                    textInput.setAttribute('value', survey.questionList[i].responseList[j].title);
                    textInput.addEventListener('change', function (event) {
                        survey.questionList[i].responseList[j].title = event.target.value;
                    });

                    let pointInput = document.createElement('input');
                    pointInput.setAttribute('type', 'number');
                    pointInput.setAttribute('class', 'point text-input');
                    pointInput.setAttribute('placeholder', '점수');
                    pointInput.setAttribute('value', survey.questionList[i].responseList[j].point);
                    pointInput.addEventListener('change', function (event) {
                        survey.questionList[i].responseList[j].point = event.target.value;
                    });

                    let removeIcon = document.createElement('i');
                    removeIcon.setAttribute('class', 'fa-solid fa-circle-minus fa-2x');
                    removeIcon.setAttribute('id', survey.questionList[i].responseList[j].id);
                    removeIcon.setAttribute('style', 'color: #F38B3C; margin-left: 10px;');
                    removeIcon.addEventListener('click', function (event) {
                        deleteRow(RESPONSE, event);
                    });
                    /*
                                        responseItem.appendChild(checkboxInput);*/
                    responseItem.appendChild(number);
                    responseItem.appendChild(textInput);
                    responseItem.appendChild(pointInput);
                    responseItem.appendChild(removeIcon);

                    responseDiv.appendChild(responseItem);
                }
            });

            /*            questionItem.appendChild(checkboxInput);*/
            questionItem.appendChild(button);
            questionItem.appendChild(removeIcon);
            questionDiv.appendChild(questionItem);
        }
        document.querySelectorAll('.question').item(currentQuestion).click();
    }

    $(document).ready(function () {
        updateUI();
    });

    function removeAllChildNodes(parent) {
        while (parent.firstChild) {
            parent.removeChild(parent.firstChild);
        }
    }

    function save() {
        $.ajax({
            type: "POST",            // HTTP method type(GET, POST) 형식이다.
            url: "/survey/save",      // 컨트롤러에서 대기중인 URL 주소이다.
            data: JSON.stringify(survey),            // Json 형식의 데이터이다.
            dataType: "json",
            contentType: "application/json",
            success: function (res) { // 비동기통신의 성공일경우 success콜백으로 들어옵니다. 'res'는 응답받은 데이터이다.
                // 응답코드 > 0000
                alert(res.code);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                alert("통신 실패.")
            }
        });
    }

    /** 행 추가 함수 **/
    function addRow(type) {

        if (type == RESPONSE) {

            let responseDiv = document.querySelector('#response');
            let numberOfResponse = (currentQuestion != null) ? survey.questionList[currentQuestion].responseList.length : 0;

            let max = 0;
            if (survey.questionList[currentQuestion].responseList != null) {
                survey.questionList[currentQuestion].responseList.forEach(response => {
                    if (max < response.id) max = response.id;
                });
            }
            let newResponse = {
                id: max + 1,
                title: '',
                point: '',
            }
            survey.questionList[currentQuestion].responseList.push(newResponse);
        }
        else if (type == QUESTION) {
            let questionDiv = document.querySelector('#question');
            let max = 0;
            if (survey.questionList != null) {
                survey.questionList.forEach(quesiton => {
                    if (max < quesiton.id) max = quesiton.id;
                });
            }
            let newQuestion = {
                id: max + 1,
                title: '',
                responseList: [{
                    id: 1,
                    title: '',
                    point: '',
                }],
            }
            survey.questionList.push(newQuestion);
        }

        updateUI();
    }

    /** 행 삭제 함수 **/
    function deleteRow(type, event) {

        let id = $(event.target).attr('id');

        if (type == QUESTION) {
            survey.questionList = survey.questionList.filter(question => question.id != id);
        } else if (type == RESPONSE) {
            survey.questionList[currentQuestion].responseList = survey.questionList[currentQuestion].responseList.filter(response => response.id != id);
        }

        updateUI();

    }

    // function deleteRow(type) {
    //     if (type == 'response') {
    //         let checkboxList = document.getElementsByName('responseCheckbox');
    //         Array.from(checkboxList)
    //             .filter(checkbox => checkbox.checked == true)
    //             .forEach(checkbox => {
    //                 let id = checkbox.getAttribute('id');
    //                 survey.questionList[currentQuestion].responseList = survey.questionList[currentQuestion].responseList.filter(response => response.id != id);
    //             })
    //     }
    //     if (type == 'question') {
    //         let checkboxList = document.getElementsByName('questionCheckbox');
    //         Array.from(checkboxList)
    //             .filter(checkbox => checkbox.checked == true)
    //             .forEach(checkbox => {
    //                 let id = checkbox.getAttribute('id');
    //                 survey.questionList = survey.questionList.filter(question => question.id != id);
    //             })
    //     }
    //     updateUI();
    // }


</script>